<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
      http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo">

    <context:component-scan base-package="com.github.commons.message.server"/>

    <dubbo:application name="commons-message-client"/>

    <dubbo:registry address="multicast://224.5.6.7:1234"/>

    <dubbo:protocol name="dubbo" port="20880"/>

    <bean id="messageCenter" class="com.github.commons.message.client.SimpleMessageCenter">
        <property name="messageProcessor" ref="messageProcessor"/>
    </bean>

    <dubbo:reference interface="com.github.commons.message.IMessageProcessor" id="messageProcessor"/>
</beans>